In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [114]:
import datetime

## EDA Spray

In [2]:
data_spray = pd.read_csv('./Data/spray.csv')

In [3]:
data_spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [4]:
data_spray.shape

(14835, 4)

In [5]:
data_spray.Date.min()

'2011-08-29'

In [6]:
data_spray.Date.max()

'2013-09-05'

In [7]:
data_spray['spray_day'] = 1

In [8]:
data_spray.columns = ['Date', 'Time', 'Latitude_sp', 'Longitude_sp', 'spray_day']

## EDA Weather

In [9]:
data_weather = pd.read_csv('./Data/weather.csv')

In [10]:
data_weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [11]:
data_weather.shape

(2944, 22)

In [12]:
data_weather.Date.min()

'2007-05-01'

In [13]:
data_weather.Date.max()

'2014-10-31'

In [14]:
data_weather['weather_day'] = 1

## EDA Train

In [15]:
data_train = pd.read_csv('./Data/train.csv')

In [16]:
data_train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [17]:
data_train.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent'],
      dtype='object')

In [18]:
data_train.shape

(10506, 12)

In [19]:
data_train.Date.min()

'2007-05-29'

In [20]:
data_train.Date.max()

'2013-09-26'

In [104]:
#model baseline
data_train.WnvPresent.mean()

0.05244622120692937

In [212]:
data_train.Block.value_counts().count()

64

Address, Street, Trap, Lat & Long are all the same

## EDA Test

In [21]:
data_test = pd.read_csv('./Data/test.csv')

In [22]:
data_test.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [23]:
data_test.shape

(116293, 11)

In [24]:
data_test.Date.min()

'2008-06-11'

In [25]:
data_test.Date.max()

'2014-10-02'

In [109]:
data_test['Date'] = pd.to_datetime(data_test.Date)

## Combine Data

In [126]:
df = pd.concat([data_train, data_weather, data_spray], ignore_index=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [127]:
df.shape

(28285, 38)

In [128]:
df['AvgSpeed'].isnull().sum()

25341

In [129]:
df.columns

Index(['Address', 'AddressAccuracy', 'AddressNumberAndStreet', 'AvgSpeed',
       'Block', 'CodeSum', 'Cool', 'Date', 'Depart', 'Depth', 'DewPoint',
       'Heat', 'Latitude', 'Latitude_sp', 'Longitude', 'Longitude_sp',
       'NumMosquitos', 'PrecipTotal', 'ResultDir', 'ResultSpeed', 'SeaLevel',
       'SnowFall', 'Species', 'Station', 'StnPressure', 'Street', 'Sunrise',
       'Sunset', 'Tavg', 'Time', 'Tmax', 'Tmin', 'Trap', 'Water1', 'WetBulb',
       'WnvPresent', 'spray_day', 'weather_day'],
      dtype='object')

In [130]:
df['spray_day'].fillna(0,  inplace=True)
df['weather_day'].fillna(0,  inplace=True)

In [131]:
df['spray_day'].value_counts()

1.0    14835
0.0    13450
Name: spray_day, dtype: int64

In [132]:
df['weather_day'].value_counts()

0.0    25341
1.0     2944
Name: weather_day, dtype: int64

In [133]:
df['Date'].min()

'2007-05-01'

In [134]:
df['Date'] = pd.to_datetime(df['Date'])

BeginDate = datetime.date(2007, 4, 30)

temp = (df['Date']-pd.Timestamp(BeginDate)).astype(str)

df['DateFrom'] = temp.map(lambda x: x.replace(' days 00:00:00.000000000', '')).astype(int)

## Feature Engineering

## Model

In [205]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [206]:
df_formodel = df.loc[:, ['DateFrom', 'Latitude','Longitude', 'WnvPresent']].dropna()

In [207]:
X = df_formodel.loc[:, ['DateFrom','Latitude','Longitude']]

In [208]:
y = df_formodel['WnvPresent']

In [209]:
knn = KNeighborsClassifier()

In [210]:
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [215]:
knn.score(X, y) - (1-data_train.WnvPresent.mean())

0.0022844089091946795

## Assess

In [239]:
from sklearn.metrics import confusion_matrix

In [226]:
preds = pd.Series(knn.predict(X))
df_residuals = pd.DataFrame(preds, columns=['Predictions'])
df_residuals['Actuals'] = y

In [234]:
cm = confusion_matrix(y, preds)
df_cm = pd.DataFrame(cm, columns=['Predicted 0', 'Pred 1'], index=['Actual 0', 'Actual 1'])
df_cm

          Predicted 0  Pred 1
Actual 0         9866      89
Actual 1          438     113